<h1> EDIT </h1>

<div class="mainContent">

<form method="post" action="/edit/process" >
		
		<div>
			<input type="text" name="task" value="<%= @task %>">
		</div>
		
		<div>
			<p>Family Member</p>
		</div>
		<div>
			<div>
			  <label>
			   <input type="radio" name="person" value="Bob" <%= "checked" if @person == "Bob" %>>
			    Bob
			  </label>
			</div>

			<div>
			  <label>
			    <input type="radio" name="person" value="Mary" <%= "checked" if @person == "Mary" %>>
			    Mary
			  </label>
			</div>

			<div>
			  <label>
			    <input type="radio" name="person" value="Joe" <%= "checked" if @person == "Joe" %>>
			    Joe
			  </label>
			</div>

			<div>
			  <label>
			    <input type="radio" name="person" value="Lisa" <%= "checked" if @person == "Lisa" %>>
			    Lisa
			  </label>
			</div>
		</div>
		<div>
			<p>Status</p>
		</div>
		<div>
			<div>
			  <label>
			    <input type="radio" name="status" value="i" <%= "checked" if @status == "i" %>>
			    Incomplete
			  </label>
			</div>

			<div>
			  <label>
			    <input type="radio" name="status" value="c" <%= "checked" if @status == "c" %>>
			    Complete
			  </label>
			</div>
		</div>

		<input type="hidden" name="num" value="<%= params[:num] %>">

		<button type="submit" value="Submit">Submit</button>
  		
</form>
</div>
