<div class="left">
	<div class="navContent">
		<form action="/new">
			<input class = "addTask" type="submit" value ="Add a Task">
		</form>

		<ul class=navLinks>
			<li class="navigation"><a class="navLinks__link" href="/">All Tasks</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Bob">Bob</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Mary">Mary</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Joe">Joe</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Lisa">Lisa</a></li>
		</ul>
	</div>
</div>

<div class="mainContent">
	<!-- TODO - Change 'X' to a real name. -->
	<h1> X's Tasks</h1>

	<h3 class="listTitle"> To Do </h3>

	<% if !@theseAreNotDone.nil? %>
		<% @theseAreNotDone.each do |element| %>
			<ul class="taskList">
				<div class="task">

					<li class = "taskList__task"><%= element[2] %>

					<form method="post" action="/delete"> 
						<input type="hidden" name="num" value ="<%= element[3]%>">
						<input class="deleteButton" type="submit" value="Delete">
					</form>

					<form method="post" action="/edit"> 
						<input type="hidden" name="num" value ="<%= element[3]%>">
						<input class="editButton" type="submit" value="Edit">
					</form>
					</li>
				</div>
			</ul>
		<% end %>
	<% else %>
		<p> There are no tasks! </p>
	<% end %>

	<h3 class="listTitle"> Completed Tasks </h3>
	<% if !@theseAreDone.nil? %>
		<% @theseAreDone.each do |element| %>
		
			<ul class ="taskList">	
				<div class="task">
					<li class = "taskList__task"><%= element[2] %></li>
					<form method="post" action="/delete"> 
						<input type="hidden" name="num" value ="<%= element[3]%>">
						<input class="deleteButton" type="submit" value="Delete">
					</form>
					
					<form method="post" action="/edit"> 
						<input type="hidden" name="num" value ="<%= element[3]%>">
						<input class="editButton" type="submit" value="Edit">
					</form>
				</div>
			</ul>
		<% end %>
	<% else %>
		<p> There are no tasks! </p>
	<% end %>
</div>