<div class="left">
	<div class="navContent">
		<form action="/new">
			<input class = "addTask" type="submit" value ="Add a Task">
		</form>
		<ul class=navLinks>
			<li class="navigation"><a class="navLinks__link" href="/">All Tasks</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Bob">Bob</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Mary">Mary</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Joe">Joe</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Lisa">Lisa</a></li>
		</ul>
	</div>
</div>
<!-- 
TODO - Reconsider BEM structure below. Each task should be a <li>.
 -->
 <div class="mainContent">

<h2 class="toDoTitle">To Do List</h2>
<% @incompleteTasks.each do |element| %>
	<ul class = "taskList">
		<div class="task">
			<form method="post" action="/delete"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input class="deleteButton" type="submit" value="Delete">
			</form>
			<form method="post" action="/edit"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input class="editButton" type="submit" value="Edit">
				<input type="hidden" name="status" value ="<%= element[0]%>">
				<input type="hidden" name="task" value ="<%= element[2]%>">
				<input type="hidden" name="person" value ="<%= element[1]%>">
			</form>
			<li class = "taskList__task"><%= element[2] %></li>
		</div>
	</ul>
	

<% end %>

<h2 class="completeTitle">Completed Tasks</h2>
<% @completedTasks.each do |element| %>
	<ul class="taskList">

		<div class="task">
			<form method="post" action="/delete"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<span title="Delete Task"><input class ="delete-edit" type="image" src="/images/delete-icon.png" alt="D"></span>
			</form>
			<form method="post" action="/edit"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<span title="Edit Task"><input class ="delete-edit" type="image" src="/images/edit-icon.png" alt="E"></span>
				<input type="hidden" name="status" value ="<%= element[0]%>">
				<input type="hidden" name="task" value ="<%= element[2]%>">
				<input type="hidden" name="person" value ="<%= element[1]%>">
			</form>
			<li class="taskList__task"><%= element[2] %></li>
		</div>

	</ul>
<% end %>

</div>
