<div class="left">
	<div class="navContent">
		<form action="/new">
			<input class = "addTask" type="submit" value ="Add a Task">
		</form>
		<ul class=navLinks>
			<li class="navigation"><a class="navLinks__link" href="/">All Tasks</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Bob">Bob</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Mary">Mary</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Joe">Joe</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Lisa">Lisa</a></li>
		</ul>
	</div>
</div>
<!-- 
TODO - Reconsider BEM structure below. Each task should be a <li>.
 -->
 <div class="mainContent">

<h1 class="listTitle">To Do List</h1>
<% @incompleteTasks.each do |element| %>
	<ul class = "taskList">
		<div class="task">

			<li class = "taskList__task"><%= element[2] %></li>
			<form method="post" action="/delete"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input type="submit" value="Delete">
			</form>
			<form method="post" action="/edit"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input type="submit" value="Edit">
			</form>
		</div>
	</ul>
	

<% end %>

<h1 class="listTitle">Completed Tasks</h1>
<% @completedTasks.each do |element| %>
	<ul class="taskList">

		<div class="task">
		<li class="taskList__task"><%= element[2] %></li>
			<form method="post" action="/delete"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input type="submit" value="Delete">
			</form>
			<form method="post" action="/edit"> 
				<input type="hidden" name="num" value ="<%= element[3]%>">
				<input type="submit" value="Edit">
			</form>
		</div>

	</ul>
<% end %>

</div>
